<div class="header">
    <span class="pull-left"><a href="javascript:void(0)"><i class="fas fa-arrow-left"></i></a> Change Password</span>
</div>
<div class="pro-body pl-4 pr-4 pb-4 pt-4">
    <form class="text-center" autocomplete="off" (ngSubmit)="changePassword()">
        <div class="md-form">
                <input mdbInput mdbValidate name="newPassword" [(ngModel)]="changePwd.newPassword" #newPasswords="ngModel" required
                type="password" id="newPassword" class="form-control">
            <label for="newPassword">New Password</label>
            <mdb-error *ngIf="newPasswords.invalid && (newPasswords.dirty || newPasswords.touched)">Input invalid
            </mdb-error>
            <mdb-success *ngIf="newPasswords.valid && (newPasswords.dirty || newPasswords.touched)">Input valid
            </mdb-success>
        </div>
        <div class="md-form">
                <input mdbInput mdbValidate name="confirmPassword" [(ngModel)]="changePwd.confirmPassword" #confirmPasswords="ngModel" required
                type="password" id="confirmPassword" class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <mdb-error *ngIf="confirmPasswords.invalid && (confirmPasswords.dirty || confirmPasswords.touched)">Input invalid
            </mdb-error>
            <mdb-success *ngIf="confirmPasswords.valid && (confirmPasswords.dirty || confirmPasswords.touched)">Input valid
            </mdb-success>
        </div>
        <div class="btn-group d-block mb-2">
            <button mdbBtn class="btn btn-primary w-100 waves-effect z-depth-0" mdbWavesEffect
                type="submit">Save</button>
        </div>
    </form>
    <p class="mb-4 mt-4 note2">Once the password is successfully changed.you will need to login again</p>
</div>