<div class="modalbase">
    <div class="modal-header">
        <span class="title pull-left">
            Forgot Password
        </span>
        <span class="pull-right close">
            <a href="javbascript:void(0)" (click)="closeModal();">
                <i class="material-icons">close</i>
            </a>
        </span>
    </div>
    <div class="modal-body">
        <form class="text-center">
            <div class="md-form">
                <input mdbInput mdbValidate name="email" [(ngModel)]="emailText" #email="ngModel" required
                    autocomplete="off" type="email" pattern="[^ @]*@[^ @]*" autocomplete="off" id="email"
                    class="form-control">
                <label for="email">E-Mail</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid
                </mdb-error>
                <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid
                </mdb-success>
            </div>
            <button mdbBtn type="button" color="danger" class="ml-auto my-6 waves-effect z-depth-0" block="true" rounded="true" 
            mdbWavesEffect>Submit</button>
        </form>

    </div>
</div>