<div class="content-ttl">
    <div class="panel-name">
        <span><i class="fas fa-clipboard-list"></i></span>
        <span>
            Sub-Category Master
            <p>Content section goes here</p>
        </span>
    </div>
    <div class="panel-filter">
        <div class="btn-group">
            <button mat-button class="btn btn-primary" (click)="addNewCategory();">Add Category</button>
            <button mat-button class="btn btn-danger">Remove Category</button>
            <button mat-button class="btn btn-info">Update Category</button>
        </div>
    </div>
</div>
<div class="checklistgrid">
    <ejs-grid [dataSource]='subCategoryData' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
        (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
    <e-columns>
            <e-column type='checkbox' [allowEditing]='true' [allowFiltering]='false' [allowSorting]='false' width='60'></e-column>
            <e-column field='catName' headerText='Category Name' textAlign='Left' width='150'></e-column>
            <e-column field='subCatName' headerText='Sub Category' textAlign='Left' width='150'></e-column>
            <e-column field='subCatAlias' headerText='Alias' textAlign='Left' width='150'></e-column>
            <e-column field='status' headerText='Status' textAlign='Left' width='150'></e-column>
            <e-column field='' headerText='Save Images' textAlign='Left' width='150'></e-column>
    </e-columns>

    <ng-template #editSettingsTemplate let-data>
            <div [formGroup]="orderForm">
                <table class="e-table e-inline-edit" cellspacing="0.25">
                    <colgroup>
                        <col style="width: 350px;">
                        <col style="width: 150px;">
                        <col style="width: 250px;">
                        <col style="width: 250px;">
                        <col style="width: 250px;">
                        <col style="width: 250px;">
                      
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class='e-rowcell' style="display:none">
                                <div class="e-input-group">
                                <input class="e-input e-field" name='_id' formControlName="_id" type="text" />
                                        </div>
                            </td>  
                            <td style="text-align: right" class='e-rowcell'>
                                <ejs-dropdownlist id="catName" name="catName" formControlName="catName" [dataSource]='categorydata' [fields]="{text: 'catName', value: 'catName' }"
                                    popupHeight='300px'   floatLabelType='Never'></ejs-dropdownlist>
                            </td>

                            <td style="text-align: right" class='e-rowcell'>
                                    <input class="e-input e-field" name='subCatName' formControlName="subCatName" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)"/>
                                    
                            </td>

                            <td class='e-rowcell'>
                                <div class="e-input-group">
                                    <input class="e-input e-field" name='subCatAlias' formControlName="subCatAlias" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)"
                                    />
                                </div>
                            </td>
                            <td class='e-rowcell'>
                                <div class="e-input-group">
                                        <ejs-dropdownlist id="status" name="status" formControlName="status" [dataSource]='ActiveDDL' [fields]="{text: 'value', value: 'id' }" popupHeight='300px' floatLabelType='Never'></ejs-dropdownlist>
                                        
                                </div>
                            </td>
                            <td class='e-rowcell'>   
                                
                               <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                                 <form #form action="http://localhost:8084/api/admin/product/images" enctype="multipart/form-data"
                                   method="POST" target="dummyframe">
                                   <input type="file" [(ngModel)]='testImage' name="imageUrl"  id="imageUrl"  multiple />
                                   <input type="submit" style="dispaly:block" (click)="form.submit()" id="submitClick"  class="btn btn-primary" value="Upload" />  
                               </form>
                           </td>                               
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
   </ejs-grid>
</div>