<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
<div class="content-ttl">
    <div class="panel-name">
        <span><i class="fas fa-clipboard-list"></i></span>
        <span>
            Sub-Category Master
            <p>Content section goes here</p>
        </span>
    </div>
    <div class="panel-filter">
        <div class="btn-group">
            <button mat-button class="btn btn-primary" (click)="addNewCategory();">Add Category</button>
            <button mat-button class="btn btn-danger">Remove Category</button>
            <button mat-button class="btn btn-info">Update Category</button>
        </div>
    </div>
</div>
<div class="checklistgrid">
    <ejs-grid [dataSource]='data' [allowPaging]='true' [allowSorting]='true' [allowFiltering]='true'
        [filterSettings]='filterSettings' [pageSettings]='pageSettings' [allowGrouping]='false'>
        <e-columns>
            <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='60'></e-column>
            <e-column field='OrderID' headerText='Order ID' textAlign='Right' width='120'></e-column>
            <e-column field='CustomerID' headerText='Customer ID' width='120'></e-column>
            <e-column field='Freight' textAlign='Right' format='c2' width='120'></e-column>
            <e-column field='ShipCountry' headerText='Ship Country' width='140'></e-column>
        </e-columns>
    </ejs-grid>
</div>