.pass-form .btn-primary {
  width: 100%;
  margin: 0px;
}
input.form-control.validate-success.ng-valid.ng-touched {
  border-bottom: 1px solid #00c851 !important;
  box-shadow: none !important;
}
input.form-control.validate-error.ng-invalid.ng-touched {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: none !important;
}
