<div class="inner-body">
    <div class="header">
        <span class="pull-left">
            <a href="javascript:void(0)">
                <i class="fas fa-arrow-left"></i>
            </a>
        </span>
        <span class="pull-left">
            Change Password
        </span>
    </div>
    <div class="body p-3">
        <form class="text-center" [formGroup]="changeform" autocomplete="off" (ngSubmit)="changePassword()">
            <div class="pass-form">
                <div class="md-form mb-4">
                    <input mdbInput mdbValidate formControlName="currentPassword" disabled id="password" type="password"
                        class="form-control">
                    <label for="form1" class="">Current Password</label>
                </div>
                <div class="md-form mb-4">
                    <input mdbInput mdbValidate formControlName="newPassword" id="password" type="password"
                        class="form-control">
                    <label for="newPassword">New Password</label>
                    <mdb-error
                        *ngIf="changeform.controls.newPassword.invalid && (changeform.controls.newPassword.dirty || changeform.controls.newPassword.touched)">
                        Input
                        invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="changeform.controls.newPassword.valid && (changeform.controls.newPassword.dirty || changeform.controls.newPassword.touched)">
                        Input valid
                    </mdb-success>
                </div>
                <div class="md-form mb-4">
                    <input mdbInput mdbValidate formControlName="retypePassword" id="password" type="password"
                        class="form-control">
                    <label for="retypePassword">Confirm Password</label>
                    <mdb-error *ngIf="changeform.controls.retypePassword.invalid && (changeform.controls.retypePassword.dirty || changeform.controls.retypePassword.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success *ngIf="changeform.controls.retypePassword.valid && (changeform.controls.retypePassword.dirty || changeform.controls.retypePassword.touched)">
                        Input valid
                    </mdb-success>
                </div>
                <button mdbBtn class="btn btn-primary w-100 waves-effect z-depth-0" mdbWavesEffect
                    type="submit">Save</button>
                <span class="mt-4 text-center d-block w-100">Once the password successfully changed. you will need to
                    login
                    again</span>
            </div>
        </form>

    </div>
</div>