<div class="login-header d-flex">
    <div class="login-logo pull-left">
        Vegies
    </div>
    <div class="pull-right reglnk">
        <!-- <span><a routerLink="/register">Not have an account?</a></span> -->
    </div>
</div>
<div class="login-base">
    <div class="login-form">
        <form autocomplete="off" (ngSubmit)="vendorSignup()">
            <div class="md-form">
                <input mdbInput mdbValidate name="organisationName" [(ngModel)]="registerUser.orgName"
                    #organisationName="ngModel" required autocomplete="off" type="text" autocomplete="off"
                    id="organisationName" class="form-control">
                <label for="organisationName">Organisation Name</label>
                <mdb-error *ngIf="organisationName.invalid && (organisationName.dirty || organisationName.touched)">
                    Input invalid</mdb-error>
                <mdb-success *ngIf="organisationName.valid && (organisationName.dirty || organisationName.touched)">
                    Input
                    valid</mdb-success>
            </div>
            <div class="md-form">
                <input mdbInput mdbValidate name="fullName" [(ngModel)]="registerUser.fullName" #fullName="ngModel"
                    required autocomplete="off" type="text" autocomplete="off" id="fullName" class="form-control">
                <label for="fullName">Full Name</label>
                <mdb-error *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">Input invalid
                </mdb-error>
                <mdb-success *ngIf="fullName.valid && (fullName.dirty || fullName.touched)">Input valid
                </mdb-success>
            </div>
            <div class="md-form">
                <input mdbInput mdbValidate name="email" [(ngModel)]="registerUser.email" #email="ngModel" required
                    autocomplete="off" type="email" pattern="[^ @]*@[^ @]*" autocomplete="off" id="email"
                    class="form-control">
                <label for="email">E-Mail</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid
                </mdb-error>
                <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid
                </mdb-success>
            </div>
            <div class="md-form">
                <input mdbInput mdbValidate name="mobileNo" [(ngModel)]="registerUser.mobile" #mobileNo="ngModel"
                    required autocomplete="off" type="text" autocomplete="off" id="mobileNo" class="form-control"
                    maxlength="10">
                <label for="mobileNo">Mobile No.</label>
                <mdb-error *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)">Input invalid
                </mdb-error>
                <mdb-success *ngIf="mobileNo.valid && (mobileNo.dirty || mobileNo.touched)">Input valid
                </mdb-success>
            </div>
            <div class="btn-group d-block mb-2">
                <button mdbBtn class="btn btn-primary w-100 waves-effect z-depth-0" mdbWavesEffect
                    type="submit">Register</button>
            </div>
        </form>
        <a href="javascript:void(0)" class="frgtlink d-block w-100 text-center mt-2">Back to login</a>
        <div class="social-login mt-5">
            <a href="javascript:void(0)" class="facebook pull-left"><i class="fab fa-facebook"></i>
                <span>Facebook</span></a>
            <a href="javascript:void(0)" class="google pull-right"><i class="fab fa-google-plus"></i>
                <span> Google</span></a>
        </div>
    </div>
</div>
