<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                <div class="pull-left tagline">
                    <!-- <p>India's largest online store</p> -->
                </div>
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                <div class="pull-right">
                    <ul class="trmenu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-life-ring"></i> 24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-language"></i> Languages
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-phone-alt"></i> Call Us : +91-9650402952
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-mobile-alt"></i> Download app
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>