<div class="sidebar">
  <span class="title">Top Categories</span>
  <div class="leftmenu">
    <ul>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
        <div class="largesubmenu">
          kdsa;dka;skd;ask
        </div>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
        <div class="largesubmenu">
           Vishal
          </div>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Fruit and Vegetable
        </a>
      </li>
    </ul>
  </div>
</div>