<div class="header">
    <span class="pull-left"><a href="javascript:void(0)"><i class="fas fa-arrow-left"></i></a> Configuration</span>
    <span class="pull-right"><a routerLink="/mobile/setadress">Next</a></span>
</div>
<div class="pro-body">
    <div class="category-tab">
        <mat-tab-group (selectedTabChange)="checksubCat($event)">
            <mat-tab *ngFor="let subCatName of subCatList" (click)="fetchSubCat(subCatName.subCatName)">
                <ng-template mat-tab-label>
                    {{subCatName.subCatName}}
                </ng-template>
                <div class="pro-list">
                    <ul>
                        <li *ngFor="let item of items">
                            <div class="pro-base">
                                <div class="pro-img pull-left d-flex">
                                    <img class="justify-content-center align-self-center" src="{{item.image}}" /></div>
                                <div class="pro-content pull-left">
                                    <span class="price">
                                        <i class="fas fa-rupee-sign"></i>{{item.newPrice}}
                                        <span class="old"><i class="fas fa-rupee-sign"></i>{{item.oldPrice}}</span>
                                        <span class="badge badge-success ml-2"> {{item.discount}}% off</span>
                                    </span>
                                    <span class="title mt-2 mb-2">
                                        {{item.name}}
                                    </span>
                                    <div class="option">
                                        <span class="unit pull-left">16 units</span>
                                        <span class="pull-right">
                                            <mat-button-toggle-group multiple="true" class="btn btn-primary" appearance="legacy"
                                                (change)="onValChange(item.id,$event.value)" name="fontStyle"
                                                aria-label="Font Style">
                                                <mat-button-toggle value="0">
                                                    <label id="lblName{{item.id}}">
                                                        Select
                                                    </label>
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                            <!-- <a href="javascript:void(0)">Select</a> -->
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
    </div>
</div>
<div class="seleted-pro">
    <span>Product Selected ({{selectedPro.length}})</span>
</div>