.pro-img {
  height: 100px;
  width: 100px;
  padding: 15px;
}
.pro-img img {
  width: 100%;
}
.pro-content {
  padding: 10px;
  width: 73%;
}
.pro-content .price {
  font-weight: 700;
  font-size: 16px;
}
.pro-content .price .old {
  color: #666;
  text-decoration: line-through;
  margin-left: 5px;
  font-weight: 600;
  font-size: 12px;
}
.pro-content .price > i {
  font-size: 14px;
  margin-right: 2px;
}
.title {
  display: block;
  font-size: 14px;
}
.unit {
  color: #808080;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
}
.option {
  display: inline-block;
  width: 100%;
}
.option > span:nth-child(2) a {
  display: block;
  background: #59727e;
  color: #fff;
  padding: 5px;
  min-width: 70px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
}
.pro-list > ul > li {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ebebeb !important;
  background: #fff;
}
.pro-body {
  margin-top: 51px;
}
