.header {
  background: #283442;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -5px;
}
searchbar {
  display: inline-block;
  width: 114%;
}
.citytop {
  padding: 11px;
  cursor: pointer;
}
.citytop svg:nth-child(2) {
  float: right;
  margin: 4px 10px;
}
.searchsection {
  width: 80%;
  /* border-radius: 4px; */
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  color: #666;
}
.searchfield {
  width: 64%;
}
.searchfield input {
  width: 100%;
}
.categorylist {
  padding: 5px;
  margin: 5px;
  padding-right: 0px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}
.categorylist > span > svg {
  float: right;
  margin: 4px 10px;
}
.searchfield .custom-input {
  padding: 11px;
  padding-left: 10px;
}
.searchbtn > a {
  padding: 8px 15px;
  background: #4caf50;
  color: #fff;
  display: block;
  font-size: 16px;
}
.hdrlogin > a {
  display: inline-block;
  padding: 10px 0px;
  padding-left: 10px;
  /* font-size: 14px; */
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px 4px 0px 0px;
  transition: 0ms;
  padding-bottom: 19px;
  margin-bottom: -14px;
}
.hdrlogin {
  margin-right: 5px;
}
.hdrlogin > a > span {
  float: right;
  margin: 3px 8px;
}
.hdrlogin > a > svg {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 0.8);
  margin: 1px 0px;
}
.hdrlogin > a[aria-expanded="true"] {
  background: #fff;
  color: #666;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
}
.hdrlogin > a[aria-expanded="true"] svg {
  fill: #666;
}
// .hdrlogin > a:hover {
//   background: #333;
//   color: #fff;
// }
// .hdrlogin > a:hover > svg {
//   fill: #fff;
// }
.hdrlogin .dropdown-menu {
  margin-top: -1px;
  border-radius: 0px;
  margin-left: 0px;
  box-shadow: none;
  border: none;
  background: #fff;
  color: #666;
  border-radius: 0px 4px 4px 4px;
  width: 210px;
  box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.1);
}
.hdrlogin .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.hdrlogin .dropdown-item.active,
.hdrlogin .dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.hdrlogin .dropdown-item {
  color: #666;
  font-size: 12px;
  padding: 0.6rem 1.5rem;
}
.hdrlogin .dropdown-item > svg {
  height: 17px;
  width: 17px;
  fill: #666;
  margin-right: 10px;
}
.drop-bottom {
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
}
.drop-bottom p {
  font-size: 12px;
  color: #666;
  font-weight: 600;
}
.drop-bottom > span > a {
  display: block;
  color: #666;
  font-size: 14px;
  text-decoration: underline;
}
.drop-bottom > a {
  display: block;
  width: 100%;
  padding: 8px;
  background: #4caf50;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}
hr {
  margin: 0px;
}
.hdrcart > a {
  display: block;
  padding: 11px 0px;
  padding-right: 0px;
}
.hdrcart > a > svg {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 0.8);
  float: left;
}
.hdrcart > a > span:nth-child(2) {
  margin: 3px 11px;
  float: left;
  color: rgba(255, 255, 255, 0.8);
}
.itemcount {
  padding: 2px 3px;
  position: absolute;
  border-radius: 24px;
  margin-left: -75px;
  margin-top: -12px;
  background: #0083ca;
  font-size: 10px;
  text-align: center;
  border: 1px solid #0083ca;
  color: #fff;
  font-weight: 500;
}

.menubar {
  display: inline-block;
  width: 100%;
  a {
    display: block;
    float: right;
    background: transparent;
    width: 51px;
    padding-top: 10px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -28px;
    transition: none;
  }
  &:hover .sidebar {
    display: block;
  }
  &:hover > a {
    background: #fff;
    cursor: pointer;
    transition: none;
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
  }
  &:hover > a > svg {
    fill: #4caf50;
    transition: none;
  }
  &:hover #bdy .overlay {
    display: block;
  }
}
.menubar > a > svg {
  height: 20px;
  width: 20px;
  float: right;
  fill: rgba(255, 255, 255, 0.8);
}
.sidebar {
  height: 500px;
  background: #fff;
  position: absolute;
  margin-top: 22%;
  margin-left: -76%;
  width: 180px;
  display: none;
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.1);
}
.sidebar .title {
  display: block;
  text-transform: uppercase;
  color: #000;
  margin: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}
.leftmenu > ul > li:nth-child(1) a {
  border-top: 1px solid #e5e5e5;
}
.leftmenu > ul > li {
  display: block;
  width: 100%;
  a {
    display: block;
    font-size: 12px;
    width: 100%;
    padding: 8px 15px !important;
    color: #666;
    background: #fff;
    padding-left: 0px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 4px solid #fff;
    height: auto !important;
    margin-bottom: 0px;
  }
  &:hover .largesubmenu {
    display: block;
  }
  &:hover > a {
    color: #0083ca;
    border-right: 0px;
    border-left: 4px solid #0083ca;
    z-index: 999;
    background: #fafafa;
    /* border: solid 0.9px #e5e5e5; */
  }
}

.leftmenu > ul > li > a:hover .sidebar {
  border-radius: 6px 0px 0px 6px;
}
.largesubmenu {
  display: none;
  position: absolute;
  top: 0;
  background: #fafafa;
  margin-left: 180px;
  width: 250px;
  height: 500px;
  z-index: 999999;
  border-left: 0px;
  box-shadow: 15px 4px 17px 0 rgba(0, 0, 0, 0.1);
}

.rightcontent {
  width: 75%;
  margin-top: 1%;
  right: 0;
  position: absolute;
  z-index: -1;
}
.largesubmenu > ul > li:nth-child(1) > a {
  border-top: none !important;
  border-bottom: none !important;
}
.largesubmenu > ul > li {
  display: block;
  width: 100%;
  a {
    float: left;
    background-color: transparent;
    border-left: none;
    padding-bottom: 7px !important;
    width: 100%;
  }
  &:hover .largesubmenu-three {
    display: block;
  }
  &:hover > a {
    border-right: 0px;
    z-index: 999;
    background: #fff !important;
  }
}
.largesubmenu-three {
  display: none;
  position: absolute;
  top: 0px;
  background: #ffff;
  margin-left: 249px;
  width: 250px;
  height: 500px;
  z-index: 999999;
  border-left: 0px;
  box-shadow: 15px 4px 17px 0 rgba(0, 0, 0, 0.1);
}
.largesubmenu-three > ul > li {
  display: block;
  width: 100%;
  a {
    float: left;
    border-top: none !important;
    border-bottom: 1px solid #e5e5e5 !important;
    background-color: transparent;
    border-left: none;
    padding-bottom: 7px !important;
    width: 100%;
  }
  &:hover > a {
    border-right: 0px;
    z-index: 999;
    background: #fafafa !important;
  }
}
