.header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    
  }
  .searchbar {
    display: inline-block;
    width: 114%;
  }
  .citytop {
    padding: 11px;
    cursor: pointer;
  }
  .citytop svg:nth-child(2) {
    float: right;
    margin: 4px 10px;
  }
  .searchsection {
    border: 1px solid #4caf50;
    width: 80%;
    border-radius: 4px;
  }
  .searchfield {
    width: 64%;
  }
  .searchfield input {
    width: 100%;
  }
  .categorylist {
    padding: 5px;
      margin: 5px;
      padding-right: 0px;
      cursor: pointer;
      border-right: 1px solid #ccc;
  }
  .categorylist > span > svg {
    float: right;
    margin: 4px 10px;
  }
  .searchfield .custom-input {
    padding: 10px;
    padding-left: 10px;
  }
  .searchbtn > a {
    padding: 8px 15px;
    background: #4caf50;
    color: #fff;
    display: block;
    font-size: 16px;
  }
  .hdrlogin > a {
    display: inline-block;
    padding: 10px 0px;
    padding-left: 10px;
    /* font-size: 14px; */
    color: #666;
    border-radius: 10px 10px 0px 0px;
    transition: 0ms;
  }
  .hdrlogin
  {
    margin-right: 5px;
  }
  .hdrlogin > a > span {
    float: right;
    margin: 3px 8px;
  }
  .hdrlogin > a > svg {
    height: 20px;
    width: 20px;
    fill: #666;
    margin: 1px 0px;
  }
  .hdrlogin > a[aria-expanded="true"] {
    background: #333;
    color: #fff;
  }
  
  // .hdrlogin > a:hover {
  //   background: #333;
  //   color: #fff;
  // }
  // .hdrlogin > a:hover > svg {
  //   fill: #fff;
  // }
  .hdrlogin .dropdown-menu {
    margin-top: -1px;
    border-radius: 0px;
    margin-left: 0px;
    box-shadow: none;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 0px 10px 10px 10px;
    width: 210px;
  }
  .hdrlogin .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .hdrlogin .dropdown-item.active,
  .hdrlogin .dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .hdrlogin .dropdown-item {
    color: #fff;
    font-size: 12px;
    padding: 0.6rem 1.5rem;
  }
  .hdrlogin .dropdown-item > svg {
    height: 17px;
    width: 17px;
    fill: #fff;
    margin-right: 10px;
  }
  .drop-bottom {
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
  }
  .drop-bottom p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .drop-bottom > span > a {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  .drop-bottom > a {
    display: block;
    width: 100%;
    padding: 8px;
    background: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  hr {
    margin: 0px;
  }
  .hdrcart > a {
    display: block;
    padding: 11px 0px;
    padding-right: 0px;
  }
  .hdrcart > a > svg {
    height: 20px;
    width: 20px;
    color: #666;
    float: left;
  }
  .hdrcart > a > span:nth-child(2) {
    margin: 3px 11px;
    float: left;
    color: #666;
  }
  .itemcount {
    background: #fff;
      padding: 2px 3px;
      position: absolute;
      border-radius: 24px;
      margin-left: -75px;
      margin-top: -12px;
      font-size: 10px;
      text-align: center;
      border: 1px solid #4caf50;
      color: #666;
      font-weight: 500;
  }
  .headermenu
  {
    float: right;
  }