<div class="inner-body">
    <div class="header">
        <span class="pull-left">
            <a href="javascript:void(0)" [class.active]="toggleActive" (click)="toggleRightSidenav()">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124px" height="124px"
                    viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
                    <g>
                        <path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z" />
                        <path
                            d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z" />
                        <path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z" />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>

            </a>
        </span>
        <span class="pull-left logo">
            Vegies
        </span>
        <span class="pull-right cartbase">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 416 416" style="enable-background:new 0 0 416 416;" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <path
                                d="M208,416c23.573,0,42.667-19.093,42.667-42.667h-85.333C165.333,396.907,184.427,416,208,416z" />
                            <path d="M336,288V181.333c0-65.6-34.88-120.32-96-134.827V32c0-17.707-14.293-32-32-32s-32,14.293-32,32v14.507
				c-61.12,14.507-96,69.227-96,134.827V288l-42.667,42.667V352h341.333v-21.333L336,288z" />
                        </g>
                    </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>

            <!-- <p class="count">0</p> -->
        </span>
    </div>
    <div class="add-block" (click)="expand();">
        <span>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
                   c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
                   C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
                   C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
                   C406.1,207.121,398.689,233.688,384.866,256.818z" />
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
                    M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
                   C316.1,212.683,289.784,240.2,256,240.2z" />
                    </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>
            Deliver to - A-155D chander Vihar, Vikas Vihar <i class="fas fa-angle-down"></i></span>
    </div>
    <div class="body">
        <div class="custom-card">
            <div class="custom-card-header">
                <span class="pull-left">Overivew</span>
                <span class="pull-right">
                    <a href="javascript:void(0)">
                        <i class="fa fa-cog"></i>
                    </a>
                </span>
            </div>
            <div class="custom-card-body dtl">
                <ul>
                    <li>
                        <div class="leg">
                            <div class="container d-flex h-100 ">
                                <div class="row justify-content-center align-self-center">
                                    245
                                </div>
                            </div>
                        </div>
                        <span class="ttl2">Total Checklist Items</span>
                    </li>
                    <li>
                        <div class="leg">
                            <div class="container d-flex h-100 ">
                                <div class="row justify-content-center align-self-center">
                                    245
                                </div>
                            </div>
                        </div>
                        <span class="ttl2">Total Checklist Items</span>
                    </li>
                    <li>
                        <div class="leg">
                            <div class="container d-flex h-100 ">
                                <div class="row justify-content-center align-self-center">
                                    245
                                </div>
                            </div>
                        </div>
                        <span class="ttl2">Total Checklist Items</span>
                    </li>
                </ul>
                <div class="d-block mt-3 text-center mb-3 senbtn">
                    <a href="javascript:void(0)">Send Requirement</a>
                </div>
            </div>
        </div>
        <div class="check-card">
            <div class="d-block w-100 text-left ttl mb-1">Configured Checklist</div>
            <div class="pro-list">
                <ul>
                    <li>
                        <div class="pro-base">
                            <div class="pro-img pull-left d-flex">
                                <img class="justify-content-center align-self-center" src="../../assets/login-bg.jpg" />
                            </div>
                            <div class="pro-content pull-left">
                                <span class="price">
                                    <i class="fas fa-rupee-sign"></i>500
                                    <span class="old"><i class="fas fa-rupee-sign"></i>320</span>
                                    <span class="badge badge-success ml-2"> 20% off</span>
                                </span>
                                <span class="title mt-1">
                                    This is my product title
                                </span>
                                <div class="option">
                                    <span class="unit pull-left">16 units</span>
                                    <span class="pull-right">
                                        <mat-button-toggle-group multiple="true" class="btn btn-secondary"
                                            appearance="legacy" (change)="onValChange(item.id,$event.value)"
                                            name="fontStyle" aria-label="Font Style">
                                            <mat-button-toggle value="0">
                                                <label id="lblName0">
                                                    Select
                                                </label>
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <!-- <a href="javascript:void(0)">Select</a> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pro-base">
                            <div class="pro-img pull-left d-flex">
                                <img class="justify-content-center align-self-center" src="../../assets/login-bg.jpg" />
                            </div>
                            <div class="pro-content pull-left">
                                <span class="price">
                                    <i class="fas fa-rupee-sign"></i>500
                                    <span class="old"><i class="fas fa-rupee-sign"></i>320</span>
                                    <span class="badge badge-success ml-2"> 20% off</span>
                                </span>
                                <span class="title mt-1">
                                    This is my product title
                                </span>
                                <div class="option">
                                    <span class="unit pull-left">16 units</span>
                                    <span class="pull-right">
                                        <mat-button-toggle-group multiple="true" class="btn btn-secondary"
                                            appearance="legacy" (change)="onValChange(item.id,$event.value)"
                                            name="fontStyle" aria-label="Font Style">
                                            <mat-button-toggle value="0">
                                                <label id="lblName0">
                                                    Select
                                                </label>
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                        <!-- <a href="javascript:void(0)">Select</a> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-block w-100 text-center">
                <a href="javascript:void(0)" class="view-more-btn">
                    View More <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card-header">
                <span class="pull-left">Explore Categories</span>
            </div>
            <div class="custom-card-body catlist">
                <ul>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                    <li>
                        <img src="assets/Broccoli.jpg" />
                        <span>Exotic Vegetables</span>
                    </li>
                </ul>
            </div>
            <div class="d-block w-100 text-center mt-2">
                <a href="javascript:void(0)" class="view-more-btn">
                    View More <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="address-modal" (click)="collapse();">
    <div class="add-modal-base">
        <div class="add-modal-header">
            <span>Choose your location</span>
            <p>Select a delivery location to see product availability and delivery options</p>
        </div>
        <div class="add-modal-body">
            <div class="pull-left default-add">
                <span class="ttl">Heaven's Kitchen</span>
                <p>A-155 D Chander Vihar Vikas Vihar Nilothi Extn New Delhi 110041</p>
            </div>
            <div class="pull-left manage-add-btn">
                <span>
                    <a href="javascript:void(0)">
                        Manage address book
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<app-side-nav></app-side-nav>