<div class="inner-body">
    <div class="header">
        <span class="pull-left">
            <a routerLink="/mychecklist">
                <i class="fas fa-arrow-left"></i>
            </a>
        </span>
        <span class="pull-left">
            Order Placed
        </span>
    </div>
    <div class="body">
        <span>Thank you for placing your requirement.</span>
        <p>We will send you order confirmation within 20 minutes.</p>

        <div class="custom-card">
            <span>Schedule for Tomorrow,10 AM - 1 PM</span>
            <div class="order-details">
                <ul>
                    <li>
                        <span class="d-block w-100">Web Designers Hub</span>
                    </li>
                    <li>
                        <span class="pull-left">Charges</span>
                        <span class="pull-right"><i class="fas fa-rupee-sign"></i> 3250</span>
                    </li>
                    <li>
                        <span class="pull-left">Delivery Charges</span>
                        <span class="pull-right"><i class="fas fa-rupee-sign"></i> 50</span>
                    </li>
                    <li>
                        <span class="pull-left">Order ID: ORD0437689</span>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="subtotal">
                <span class="pull-left">Total Payble Amount</span>
                <span class="pull-right"><i class="fas fa-rupee-sign"></i> 3250</span>
            </div>
        </div>
    </div>
    <div class="proceed-btn">
        <span class="d-block w-100 text-center p-3">Check your order status</span>
    </div>
</div>