<div class="slider-login">
  <app-login-register></app-login-register>
</div>
<div class="slider">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-title>
        Popular Category | <a href="javascript:void(0)">See All</a>
      </mat-card-title>
      <mat-card-content>
        <ul>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">

            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card>
      <mat-card-title>
        Fruit & Vegetables
      </mat-card-title>
      <mat-card-content>
        <div id="container" class="owl-carousel">
          <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next"
            [$item]="item">
          </div>
          <ng-template #prev>
            <img src="../../../assets/arrow-left.png" id="prev">
          </ng-template>
          <ng-template #next>
            <img src="../../../assets/arrow-right.png" id="next">
          </ng-template>
          <ng-template #item let-item let-i="index">
            <div class="items">
              <div class="item-img">
                <img src="{{item.image}}">
              </div>
              <div class="item-content">
                <h2>{{item.name}}</h2>
                <span class="unit">{{item.unit}}</span>
                <div class="price"><span class="op">{{item.oldPrice}}</span> {{item.newPrice}}</div>

              </div>
            </div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card>
      <mat-card-title>
        Discount Store
      </mat-card-title>
      <mat-card-subtitle>
        <span class="pull-left">
          Move mouse over the product to see the discount.
        </span>
        <span class="pull-right">
          <a href="javascript:void(0)">View All</a>
        </span>
      </mat-card-subtitle>
      <mat-card-content>
        <div id="container2" class="owl-carousel">
          <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next"
            [$item]="item2">
          </div>
          <ng-template #prev>
            <img src="../../../assets/arrow-left.png" id="prev">
          </ng-template>
          <ng-template #next>
            <img src="../../../assets/arrow-right.png" id="next">
          </ng-template>
          <ng-template #item2 let-item let-i="index">
            <!-- <div class="item-discount">
              <div class="product-label">Frozen Snacks | Savouries</div>
              <div class="discount-label">
                Up to <b>25%</b> Off
              </div>
            </div> -->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="item-discount">
                  </div>
                </div>
                <div class="flip-card-back">
                  <div class="product-label">Frozen Snacks | Savouries</div>
                  <div class="discount-label">
                    Up to <b>25%</b> Off
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="items">
                <div class="item-img">
                  <img src="{{item.image}}">
                </div>
                <div class="item-content">
                  <h2>{{item.name}}</h2>
                  <span class="unit">{{item.unit}}</span>
                  <div class="price"><span class="op">{{item.oldPrice}}</span> {{item.newPrice}}</div>
                  
                </div>
              </div> -->
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--  -->