.mat-card {
  background-color: #fff;
  padding: 25px 40px 40px;
  width: 100%;
  margin: 18px auto;
  font-family: inherit;
  border-radius: 10px;
}
.mat-card-title {
  color: #393939;
  font-size: 18px;
}
.mat-card-title > a {
  font-size: 14px;
  text-decoration: underline;
}
.mat-card-content > ul > li {
  display: inline-block;
}
.mat-card-content > ul > li:not(:last-child) {
  margin-right: 30px;
}
.mat-card-content > ul > li > a {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 80px;
}
.mat-card-content > ul > li:nth-child(even) > a {
  background: #ff6933;
}
.mat-card-content > ul > li:nth-child(odd) > a {
  background: #f6b001;
}

.item-discount .product-label {
  position: absolute;
  top: 2px;
  width: 21.7%;
  background: #fff;
}
.item-discount .discount-label {
  position: absolute;
  bottom: 2px;
  width: 21.7%;
  background: #fff;
}
.flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  height: 200px;
  width: 200px;
  text-align: center;
  margin-right: 32px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #cfe6f6;
}

/* Style the back side */
.flip-card-back {
  background-color: #0083ca;
  color: white;
  transform: rotateY(180deg);
}
.product-label {
  font-size: 18px;
  padding: 20px;
}
.discount-label b {
  display: block;
  height: 45px;
  width: 45px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 16px;
  background: rgba(255, 0, 0, 0.9);
  border-radius: 70px;
}
.mat-card-subtitle {
  display: inline-block;
  width: 100%;
}
.mat-card-subtitle a {
  font-weight: 600;
  text-decoration: underline;
}
.slider-login {
  position: absolute;
  z-index: 9999;
  width: 25%;
  right: 6%;
  top: 20%;
  background: #fff;
  box-shadow: 3px 5px 16px -2px rgba(0, 0, 0, 0.5);
}

.loginform {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 30px 0px;
}
.frgtpass {
  text-align: center;
  /* padding: 20px; */
  line-height: 0px;
  margin-top: 25px;
}
.frgtpass a {
  color: #666;
}
