.btn-group {
  padding: 0px;
}
.btn-group .btn {
  padding: 5px 10px;
}
.panel-filter {
  width: 40%;
  text-align: left;
}
.btn-group .btn {
  padding: 10px;
  /* width: 123px; */
  border-radius: 2px;
  margin-right: 10px;
}
.btn-group .btn:last-child {
  margin-right: 0px;
}
.panelheader {
  border: 1px solid #e0e0e0;
  border-bottom: 0px;
  background: #fff;
  padding: 10px;
}
@media (max-width: 768px) {
  .panel-filter {
    width: 100%;
    margin-bottom: 15px;
  }
}
