<div class="content-ttl">
    <div class="panel-name">
        <span><i class="fas fa-clipboard-list"></i></span>
        <span>
            Manage Category
            <p>Content section goes here</p>
        </span>
    </div>
    <div class="panel-filter">
        <!-- <div class="btn-group">
            <button mat-button class="btn btn-primary" (click)="addNewCategory();">Add Category</button>
            <button mat-button class="btn btn-danger">Remove Category</button>
            <button mat-button class="btn btn-info">Update Category</button>
        </div> -->
    </div>
</div>
<div class="checklistgrid pt-3">
    <div class="row">
        <div class="col-lg-6">
            <div class="panelheader">
                Category
            </div>
            <ejs-grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)='actionBegin($event)' >
                
                    <e-columns>
                             <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='30'></e-column>
                             <e-column field='catName' headerText='Category Name' textAlign='left' width='100'></e-column>
                             <e-column field='catAlias' headerText='Category Description' textAlign='left' width='100'></e-column>
                             <e-column field='status' headerText='Status' textAlign='left' width='50'></e-column>
                        </e-columns>  

                <ng-template #editSettingsTemplate let-data>
                    <div [formGroup]="orderForm">
                        <table class="e-table e-inline-edit" cellspacing="0.25">
                            <colgroup>
                                    <col style="width: 120px;">
                                    <col style="width: 120px;">
                                    <col style="width: 120px;">
                                    <col style="width: 120px;">
                            </colgroup>
                            <tbody>
                                <tr>
                                                <td style="text-align: right" class='e-rowcell'>
                                                <!-- <ejs-dropdownlist id="catName" name="catName" formControlName="catName" [dataSource]='categorydata' [fields]="{text: 'catName', value: 'catName' }" popupHeight='300px' floatLabelType='Never'></ejs-dropdownlist> -->
                                                <div class="e-input-group">
                                                    <input class="e-input e-field" name='catName' formControlName="catName" type="text" />
                                                </div>
                                            </td>
                                    <td class='e-rowcell'>
                                        <div class="e-input-group">
                                            <input class="e-input e-field" name='catAlias' formControlName="catAlias" type="text" />
                                        </div>
                                    </td>

                                    <td class='e-rowcell'>
                                            <div class="e-input-group">
                                                    <ejs-dropdownlist id="status" name="status" formControlName="status" [dataSource]='statusDDL' [fields]="{text: 'value', value: 'id' }" popupHeight='300px' floatLabelType='Never'></ejs-dropdownlist>
                                                <!-- <input class="e-input e-field" name='Active' formControlName="Active" type="text" (focus)="focusIn($event.target)"
                                                    (blur)="focusOut($event.target)" /> -->
                                            </div>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>


            </ejs-grid> 
         
        </div>
        <div class="col-lg-6">
            <div class="panelheader">
                Sub Category
            </div>
            
            <ejs-grid [dataSource]='categorydata' [toolbar]='toolbarOptions' [editSettings]='editOptions'
                [allowPaging]='true' [allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterSettings'
                [pageSettings]='pageSettings' [allowGrouping]='false'>
                <e-columns>
                    <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='30'></e-column>
                    <!-- <e-column field='_id' headerText='Category Id' textAlign='left' width='80'></e-column> -->
                    <e-column field='catName' headerText='Category Name' textAlign='left' width='100'></e-column>
                    <!-- <e-column field='catAlias' textAlign='left' headerText='Category Alias' format='c2' width='100'>
                    </e-column> -->
                    <e-column field='Active' headerText='Active' textAlign='left' width='50'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>



</div>