/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "slider.scss";
@import "syncfusion-material.css";
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Muli", sans-serif !important;
  font: 500 14px "Muli", sans-serif !important;
  overflow: hidden;
}
.btn {
  text-transform: none;
}
.btn-deep-orange {
  background-color: #f54336 !important;
}
.btn-deep-orange:hover {
  background-color: #da3928 !important;
}
img {
  height: 100%;
  min-width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
ul {
  background: 0;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}
.e-input {
  font-family: inherit !important;
}
ul li {
  list-style: none;
}
.form-control {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 0px;
  border: 1px solid #ced4da;
}

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}
.highcharts-root {
  font-family: inherit !important;
}
.cdk-global-scrollblock {
  overflow-y: auto !important;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
}
input:-webkit-autofill {
  background-color: #faffbd !important;
}
.mat-content-sec {
  background: #f4f4f4;
  height: 91vh !important;
  overflow: auto !important;
  margin-top: 55px;
}
.navbar {
  min-height: 30px;
  background-color: #24355c !important;
  box-shadow: none;
  z-index: 999;
}
.navbar.navbar-dark .navbar-toggler {
  padding: 5px;
}
.navbar-brand {
  padding: 0px 7px;
  height: 38px;
  line-height: 38px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  color: #fff !important;
  font-weight: 700;
  font-size: 20px;
}
.navbar-brand span {
  color: #fb4137;
  font-size: 35px;
}
.navbar-toggle {
  margin-top: 16px;
  padding: 9px 10px !important;
}
//06122e
.slider .carousel-inner {
  max-height: 500px !important;
}
.slider .carousel-item {
  height: 100% !important;
}
.slider .view {
  height: 100%;
}
.mat-elevation-z8 {
  // box-shadow: none;
  width: 100%;
}

.loginform .card {
  background-color: rgba(22, 25, 30, 0.6);
  top: 10%;
  color: #fff !important;
}
.loginform .card-header {
  background-color: transparent;
  border: none;
  padding: 20px !important;
  height: 80px;
}
.loginform .card-header h1 {
  font-size: 30px !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.8;
}
.loginform p {
  letter-spacing: 1px;
  color: #fff;
  opacity: 0.8;
  font-weight: 600 !important;
}
.loginform .md-form label {
  color: #fff;
  opacity: 0.5;
}
.loginform .md-form input {
  border-bottom: 1px solid #fff;
}
.loginform .form-control {
  color: #fff !important;
  opacity: 0.8;
}
.loginform .form-check-label {
  color: #fff;
  opacity: 0.7;
}
.loginform .md-form {
  margin-bottom: 3rem;
}
.mat-dialog-container {
  padding: 0px !important;
  border-radius: 0px !important;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.mat-drawer-inner-container .mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
  background: transparent !important;
  color: #fff !important;
  font-family: inherit;
}
.mat-drawer .mat-content {
  display: inline-block;
}
.mat-drawer .mat-expansion-indicator::after {
  color: #dc3545;
}
.mat-drawer .mat-expanded {
  border-bottom: none !important;
}
.content-base {
  background: #f4f4f4;
  overflow: hidden;
}
// .content-sec {
//   padding-top: 1%;
// }
.content-ttl {
  display: inline-block;
  width: 100%;
  // box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03), 0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03),
  //   0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05), 0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
  background: #fff;
  padding: 25px;
  border: 1px solid #dee2e6;
}
.panel-name {
  display: block;
  float: left;
}
.panel-name span:nth-child(1) {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #f54336;
  padding: 8px;
  float: left;
  font-size: 16px;
  margin-right: 12px;
  color: #fff;
  border-radius: 4px;
}
.panel-name span:nth-child(2) {
  float: right;
  font-size: 17px;
  font-weight: 600;
}
.panel-name span:nth-child(2) p {
  font-size: 12px;
  color: #666;
  margin-bottom: 0px;
}
.panel-filter {
  display: block;
  float: right;
  width: 20%;
}
.item-list .ttl span:nth-child(2) .badge .dropdown-toggle {
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding: 2px;
  border-radius: 4px;
  color: #da624a !important;
}
.e-grid {
  font-family: inherit;
}
.e-grid .e-headercelldiv {
  font-size: 13px;
  font-weight: 700;
  color: #666;
}
.mat-option {
  font-family: inherit;
  font-size: 12px;
}
.e-input-group {
  font-family: inherit !important;
}
.modal-body .e-input-group {
  width: auto !important;
}
.e-control {
  font-family: inherit !important;
}
.e-grid .e-frozencontent > .e-table {
  border-right-color: transparent;
}
.navbar-nav > li > a {
  color: #fff !important;
  font-weight: 700;
}
.mat-stepper-horizontal,
.mat-stepper-vertical {
  font-family: inherit;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-carousel {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
// .owl-carousel .owl-stage {
//   width: 4000px !important;
// }
.owl-nav {
  position: absolute;
  z-index: 99999999999;
  width: 100%;
  top: 25%;
}
.owl-prev {
  float: left;
}
.owl-next {
  float: right;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 36px !important;
  background: #fff !important;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc!important;
  border-radius: 50px;
  color: #666 !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.owl-nav button span {
  display: block;
  margin-top: -7px;
}
.owl-nav button:focus {
  outline: 0;
}
.owl-carousel .owl-item {
  width: 175px !important;
  margin-right: 15px;
}
.e-grid .e-headercell {
  background-color: #283442 !important;
  border-color: #283442 !important;
  height: 30px !important;
}
.e-grid .e-headercelldiv {
  font-size: 12px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.e-checkbox-wrapper .e-frame,
.e-css.e-checkbox-wrapper .e-frame {
  border-color: #f54336 !important;
  border: 1px solid !important;
  height: 15px !important;
  width: 15px !important;
  line-height: 13px !important;
}
.e-checkbox-wrapper .e-frame.e-check,
.e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: #f54336 !important;
}
.e-grid .e-rowcell {
  padding: 0px 21px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  line-height: 25px !important;
}
.e-grid .e-rowcell:not(.e-editedbatchcell) {
  color: #666 !important;
  opacity: 1 !important;
}
.e-grid td.e-active {
  background: #eee !important;
  font-weight: normal !important;
}
.e-pager {
  font-size: 12px !important;
  color: #666 !important;
  opacity: 1 !important;
}
.e-pager .e-pagercontainer {
  margin: 0px 0px 1px 10px !important;
}
.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
  background: #f54336 !important;
  padding: 7px !important;
  opacity: 1 !important;
}
.e-grid .e-icons {
  color: #f54336 !important;
}
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before {
  background: #f54336 !important;
}
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
  background: #f54336 !important;
}
.e-input:focus:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: #f54336 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}
.e-table .e-summarycell {
  font-weight: bold;
  color: #000;
}
@media (max-width: 544px) {
  .content-sec {
    padding-top: 15%;
  }
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container {
    padding: 0px !important;
  }
  .mat-step-header {
    padding: 0px;
    height: auto;
  }
  .chart-values {
    padding-bottom: 15px;
  }
  .cdk-overlay-pane {
    max-width: 90vw !important;
    left: 50px;
    transform: none !important;
    min-width: 0px !important;
  }
  .mat-select-panel:not([class*="mat-elevation-z"]) {
    font-size: 11px !important;
  }
  .mat-pseudo-checkbox {
    width: 12px !important;
    height: 12px !important;
  }
  .mat-pseudo-checkbox-checked::after {
    top: 1.4px !important;
    left: 1px !important;
    width: 7px !important;
    height: 1px !important;
  }
  .mat-select-panel {
    max-height: 155px !important;
  }
  .mat-form-field {
    font-size: 11px;
  }

  .item-button .mat-button-toggle-label-content {
    line-height: 30px;
  }
  .owl-carousel .owl-item {
    width: 120px !important;
    margin-right: 35px;
  }
  .navbar {
    min-height: 45px;
    padding: 0px;
  }
  .navbar-brand {
    padding: 0px 15px;
    height: 45px;
    line-height: 48px;
  }
  .navbar.navbar-dark .navbar-toggler {
    padding: 0px 15px;
  }
  .navbar-nav > li > a {
    padding: 10px 15px !important;
    font-weight: normal;
    background: #202f52;
    opacity: 0.8;
  }
  .slider .container {
    width: 100%;
    padding: 0px;
  }
  .top-menu {
    text-align: center !important;
    border-bottom: none;
    // display: none;
  }
  .top-menu ul > li {
    margin-right: 0px !important;
  }
  // .top-menu ul > li:nth-child(1) a i {
  //   float: none !important;
  // }

  .panel-filter {
    float: none;
    width: 100%;
    margin: 12px 0px !important;
    display: inline-block;
  }
  .content-ttl {
    box-shadow: none;
    padding: 0;
    background: transparent;
    border: none;
  }
  .mat-content-sec {
    height: 98vh !important;
  }
  .order-card {
    width: 100% !important;
  }
  .item-content .mat-button-toggle-label-content {
    line-height: 30px !important;
  }
  .item-content hr {
    margin: 0px;
  }
  .controls {
    top: 30% !important;
  }
  .controls img {
    height: 30px;
    width: 30px;
  }
  .sm-checklist .owl-carousel .owl-item {
    width: 350px !important;
    margin-right: -32px !important;
  }
  .sm-checklist .owl-nav.disabled {
    display: block !important;
    position: fixed;
    z-index: 99999999999999999;
    top: 31%;
    width: 100%;
    left: 0;
    cursor: auto !important;
    pointer-events: all !important;
  }
  .sm-checklist .owl-prev {
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
    padding: 8px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 25px;
    border-radius: 50px !important;
    float: left;
  }
  .sm-checklist .owl-next {
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
    padding: 8px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 25px;
    border-radius: 50px !important;
    float: right;
  }
  .sm-checklist .owl-next span {
    display: block;
    padding: 0px;
    margin-top: -5px;
    font-size: 20px;
  }
  .sm-checklist .owl-prev span {
    display: block;
    padding: 0px;
    margin-top: -5px;
    font-size: 20px;
  }
}
@media (min-width: 545px) and (max-width: 767px) {
  .visible-xs-* {
    display: block;
  }
  .visible-sm-* {
    display: none;
  }
  .visible-md-* {
    display: none;
  }
  .visible-lg-* {
    display: none;
  }
  .content-sec {
    padding-top: 6%;
  }
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container {
    padding: 0px !important;
  }
  .mat-step-header {
    padding: 0px;
    height: auto;
  }
  .chart-values {
    padding-bottom: 15px;
  }
  .cdk-overlay-pane {
    max-width: 90vw !important;
    left: 50px;
    transform: none !important;
    min-width: 0px !important;
  }
  .mat-select-panel:not([class*="mat-elevation-z"]) {
    font-size: 11px !important;
  }
  .mat-pseudo-checkbox {
    width: 12px !important;
    height: 12px !important;
  }
  .mat-pseudo-checkbox-checked::after {
    top: 1.4px !important;
    left: 1px !important;
    width: 7px !important;
    height: 1px !important;
  }
  .mat-select-panel {
    max-height: 155px !important;
  }
  .mat-form-field {
    font-size: 11px;
  }

  .item-button .mat-button-toggle-label-content {
    line-height: 30px;
  }
  .owl-carousel .owl-item {
    width: 120px !important;
    margin-right: 35px;
  }
  .navbar {
    min-height: 45px;
    padding: 0px;
  }
  .navbar-brand {
    padding: 0px 15px;
    height: 45px;
    line-height: 48px;
  }
  .navbar.navbar-dark .navbar-toggler {
    padding: 0px 15px;
  }
  .navbar-nav > li > a {
    padding: 10px 15px !important;
    font-weight: normal;
    background: #202f52;
    opacity: 0.8;
  }
  .slider .container {
    width: 100%;
    padding: 0px;
  }
  .top-menu {
    text-align: center !important;
    border-bottom: none;
    // display: none;
  }
  .top-menu ul > li {
    margin-right: 0px !important;
  }
  // .top-menu ul > li:nth-child(1) a i {
  //   float: none !important;
  // }

  .panel-filter {
    float: none;
    width: 100%;
    margin-top: 19px;
    display: inline-block;
  }
  .content-ttl {
    box-shadow: none;
    padding: 0;
    background: transparent;
    border: none;
  }
  .mat-content-sec {
    height: 98vh !important;
  }
  .item-content .mat-button-toggle-label-content {
    line-height: 30px !important;
  }
  .item-content hr {
    margin: 0px;
  }
  .controls {
    top: 30% !important;
  }
  .controls img {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-xs-* {
    display: none;
  }
  .visible-sm-* {
    display: block;
  }
  .visible-md-* {
    display: none;
  }
  .visible-lg-* {
    display: none;
  }

  .navbar-nav > li > a {
    line-height: 16px !important;
    padding: 18px !important;
  }
}
@media (min-width: 992px) and(max-width:1199px) {
  .visible-xs-* {
    display: none;
  }
  .visible-sm-* {
    display: none;
  }
  .visible-md-* {
    display: block;
  }
  .visible-lg-* {
    display: none;
  }
}
/*Laptop Devices*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .order-card {
    width: 242px !important;
  }
  .values-top > ul > li > a {
    width: 232px !important;
  }

  // .content-sec {
  //   padding-top: 5%;
  // }
  // .items
  // {
  //   width: 204px!important;
  // }
  // .items:nth-child(5n)
  // {
  //   margin-right: 7px!important;
  // }
  // .items:nth-child(6n)
  // {
  //   margin-right: 0px!important;
  // }
}

/*Laptop Devices*/

/*Desktop Devices*/
@media only screen and (min-width: 1370px) and (max-width: 1605px) {
}
/*Desktop Devices*/

// @media (min-width: 1200px) {
//   .visible-xs-* {
//     display: none;
//   }
//   .visible-sm-* {
//     display: none;
//   }
//   .visible-md-* {
//     display: none;
//   }
//   .visible-lg-* {
//     display: block;
//   }
// }
