/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "slider.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Muli", sans-serif !important;
  font: 500 14px "Muli", sans-serif !important;
}
.btn {
  text-transform: none;
}
img {
  height: 100%;
  min-width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
ul {
  background: 0;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

ul li {
  list-style: none;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
}
input:-webkit-autofill {
  background-color: #faffbd !important;
}
.navbar {
  min-height: 30px;
  background-color: #24355c !important;
  box-shadow: none;
  //position: fixed;
  z-index: 999;
  //top: 0px;
}
.navbar.navbar-dark .navbar-toggler {
  padding: 5px;
}
.navbar-brand {
  padding: 0px 7px;
  height: 38px;
  line-height: 38px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  color: #fff !important;
  font-weight: 700;
  font-size: 20px;
}
.navbar-brand span {
  color: #fb4137;
  font-size: 35px;
}
.navbar-toggle {
  margin-top: 16px;
  padding: 9px 10px !important;
}
//06122e
.slider .carousel-inner {
  max-height: 500px !important;
}
.slider .carousel-item {
  height: 100% !important;
}
.slider .view {
  height: 100%;
}
.mat-elevation-z8 {
  // box-shadow: none;
  width: 100%;
}

.loginform .card {
  background-color: rgba(36, 53, 92, 0.5);
  top: 10%;
  color: #fff !important;
}
.loginform .card-header {
  background-color: transparent;
  border: none;
  padding: 20px !important;
  height: 80px;
}
.loginform .card-header h1 {
  font-size: 30px !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.8;
}
.loginform p {
  letter-spacing: 1px;
  color: #fff;
  opacity: 0.8;
  font-weight: 600 !important;
}
.loginform .md-form label {
  color: #fff;
  opacity: 0.5;
}
.loginform .md-form input {
  border-bottom: 1px solid #fff;
}
.loginform .form-control {
  color: #fff !important;
  opacity: 0.8;
}
.loginform .form-check-label {
  color: #fff;
  opacity: 0.7;
}
.loginform .md-form {
  margin-bottom: 3rem;
}
.mat-dialog-container {
  padding: 0px !important;
  border-radius: 0px !important;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.mat-drawer-inner-container .mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
  background: transparent !important;
  color: #fff !important;
  font-family: inherit;
}
.mat-drawer .mat-content {
  display: inline-block;
}
.mat-drawer .mat-expansion-indicator::after {
  color: #dc3545;
}
.mat-drawer .mat-expanded {
  border-bottom: none !important;
}
.content-sec {
  padding-top: 5%;
}
.content-ttl {
  display: inline-block;
  width: 100%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03), 0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03),
    0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05), 0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
  background: #fff;
  padding: 25px;
}
.panel-name {
  display: block;
  float: left;
}
.panel-name span:nth-child(1) {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #dc3545;
  padding: 8px;
  float: left;
  font-size: 16px;
  margin-right: 12px;
  color: #fff;
  border-radius: 4px;
}
.panel-name span:nth-child(2) {
  float: right;
  font-size: 16px;
}
.panel-name span:nth-child(2) p {
  font-size: 12px;
  color: #666;
  margin-bottom: 0px;
}
.panel-filter {
  display: block;
  float: right;
  width: 20%;
}
.item-list .ttl span:nth-child(2) .badge .dropdown-toggle {
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding: 2px;
  border-radius: 4px;
  color: #da624a !important;
}
.e-grid {
  font-family: inherit;
}
.e-grid .e-headercelldiv {
  font-size: 13px;
  font-weight: 700;
  color: #666;
}
.mat-option {
  font-family: inherit;
  font-size: 12px;
}
.e-control {
  font-family: inherit;
}
.e-grid .e-frozencontent > .e-table {
  border-right-color: transparent;
}
.navbar-nav > li > a {
  color: #fff !important;
  font-weight: 700;
}
.mat-stepper-horizontal,
.mat-stepper-vertical {
  font-family: inherit;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-carousel {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.owl-carousel .owl-stage {
  width: 4000px !important;
}
.owl-carousel .owl-item {
  width: 175px !important;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
    line-height: 16px !important;
    padding: 18px !important;
  }
}
@media (max-width: 768px) {
  .cdk-global-overlay-wrapper {
    align-items: baseline !important;
    top: 5%;
  }
  .chart-values {
    padding-bottom: 15px;
  }
  .cdk-overlay-pane {
    max-width: 90vw !important;
    left: 50px;
    transform: none !important;
    min-width: 0px !important;
  }
  .mat-select-panel:not([class*="mat-elevation-z"]) {
    font-size: 11px !important;
  }
  .mat-pseudo-checkbox {
    width: 12px !important;
    height: 12px !important;
  }
  .mat-pseudo-checkbox-checked::after {
    top: 1.4px !important;
    left: 1px !important;
    width: 7px !important;
    height: 1px !important;
  }
  .mat-select-panel {
    max-height: 155px !important;
  }
  .mat-form-field {
    font-size: 11px;
  }

  .item-button .mat-button-toggle-label-content {
    line-height: 30px;
  }
  .owl-carousel .owl-item {
    width: 120px !important;
    margin-right: 35px;
  }
  .navbar {
    min-height: 45px;
    padding: 0px;
  }
  .navbar-brand {
    padding: 0px 15px;
    height: 45px;
    line-height: 48px;
  }
  .navbar.navbar-dark .navbar-toggler {
    padding: 0px 15px;
  }
  .navbar-nav > li > a {
    padding: 10px 15px !important;
    font-weight: normal;
    background: #202f52;
    opacity: 0.8;
  }
  .slider .container {
    width: 100%;
    padding: 0px;
  }
  .top-menu {
    text-align: center !important;
    border-bottom: none;
    // display: none;
  }
  .top-menu ul > li {
    margin-right: 0px !important;
  }
  // .top-menu ul > li:nth-child(1) a i {
  //   float: none !important;
  // }
  .content-sec {
    padding-top: 20%;
  }
  .panel-filter {
    float: none;
    width: 100%;
    margin-top: 19px;
    display: inline-block;
  }
  .content-ttl {
    box-shadow: none;
    padding: 0;
    background: transparent;
  }
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container {
    padding: 0px !important;
  }
  .mat-step-header {
    padding: 0px;
    height: auto;
  }
  .item-content .mat-button-toggle-label-content {
    line-height: 30px !important;
  }
  .item-content hr {
    margin: 0px;
  }
  .controls {
    top: 30% !important;
  }
  .controls img {
    height: 30px;
    width: 30px;
  }
}
