<div class="header">
    <span class="pull-left"><a href="javascript:void(0)"><i class="fas fa-arrow-left"></i></a> Forgot Password</span>
</div>
<div class="pro-body pl-4 pr-4 pb-4 pt-4">
    <form class="text-center" autocomplete="off" (ngSubmit)="sendEmail()">
        <div class="md-form">
            <input mdbInput mdbValidate name="email" [(ngModel)]="updPassword.email" #email="ngModel" required
                autocomplete="off" type="email" pattern="[^ @]*@[^ @]*" autocomplete="off" id="email"
                class="form-control">
            <label for="email">Registered Email Id</label>
            <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid
            </mdb-error>
            <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid
            </mdb-success>
        </div>
        <div class="btn-group d-block mb-2">
            <button mdbBtn class="btn btn-primary w-100 waves-effect z-depth-0" mdbWavesEffect type="submit">Get
                Password</button>
        </div>
    </form>
</div>