.top-menu {
  background-color: #fafafa;
  text-align: right;
  padding: 0 0 0.1rem;
  border-bottom: 1px solid #efefef;
}
.top-menu ul > li {
  display: inline-block;
  margin-right: 5px;
}
.top-menu ul > li > a {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 600;
}
.top-menu ul > li > a i {
  color: #fb4137;
  font-size: 13px;
  margin-right: 5px;
  transform: rotate(95deg);
  float: left;
  margin-top: 2px;
}
.nav-item.active a {
  color: #fb4137 !important;
}
