<div class="row pt-5">
    <div class="class md-6 mx-auto">
      <div class="class rounded-0">
        <div class="class card-header">
            <form class="form">
            <mat-form-field>
              <mat-select placeholder="Select Product Type" required name="productCat"
                [(ngModel)]="categoryData.productCat">
                <mat-option value="1">Main Category</mat-option>
                <mat-option value="2">Sub Category</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-container *ngIf="categoryData.productCat ==1">
              <!-- <div *ngIf="categoryData.productCat ==1; then thenBlock else elseBlock"> -->
              <mat-form-field>
                <input matInput placeholder="Category Name" [(ngModel)]="categoryData.catName" name="catName" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Category Alias" [(ngModel)]="categoryData.catAlias" name="catAlias">
              </mat-form-field>
              <mat-checkbox [(ngModel)]="categoryData.Active" name="catActive">Active</mat-checkbox>
              <br>
              <br>
              <button mat-button (click)="AddCategory()" class="md-raised md-cornered" style="background-color: palegreen;margin-bottom:5px">Submit</button>

              <ag-grid-angular style="width: 625px; overflow:scroll; height: 300px;"class="ag-theme-balham"   [rowData]="rowData" [columnDefs]="columnDefs">
              </ag-grid-angular>
            </ng-container>
  
            <ng-container *ngIf="categoryData.productCat ==2">
        
              <mat-form-field>
                  <mat-select placeholder="Select Category Name" required name="mainProduct" [(ngModel)]="categoryData.mainProduct">
                    <mat-option *ngFor='let catName of categoryList' value="catName.CATEGORY_ID">{{catName.CATEGORY_NAME}}</mat-option>
                  
                  </mat-select> 
                </mat-form-field>


              <mat-form-field>
                <input matInput placeholder="Sub Category Name" [(ngModel)]="categoryData.subCatName" name="subCatName"
                  required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Sub Category Alias" [(ngModel)]="categoryData.subCatAlias" name="subCatAlias">
              </mat-form-field>
              <mat-checkbox [(ngModel)]="categoryData.Active" name="subCatActive">Active</mat-checkbox>
              <br>
              <br>
              <button mat-button (click)="AddSubCategory()" class="md-raised md-cornered" style="background-color: palegreen;margin-bottom:5px">Submit</button>

              
              <ag-grid-angular style="width: 800px; overflow:scroll; height: 300px;"class="ag-theme-balham"    [rowData]="rowDatSubCat" [columnDefs]="columnDefSubCat">
              </ag-grid-angular>
            </ng-container>
            <!-- </div> -->
  
          </form>
        

       
          <!-- <mat-raised-button></mat-raised-button> -->
        </div>
      </div>
    </div>
  </div>

