<div class="header">
    <span class="pull-left">
        <a href="javascript:void(0)" [class.active]="toggleActive" (click)="toggleRightSidenav()"><i
                class="fas fa-bars"></i></a>
        <span class="addtop">
            Delivery Location
            <span class="add">A-155D Chander Vihar Vikas Vihar <i class="fas fa-pencil-alt"></i></span>
        </span>
    </span>
    <span class="pull-right"><a routerLink="/mobile/setadress"><i class="far fa-bell"></i></a></span>
</div>
<div class="pro-body">
    <div class="custom-card mb-2">
        <span class="ttl">Overview</span>
        <div class="dtl">
            <ul>
                <li>
                    <div class="leg">
                        <div class="container d-flex h-100 ">
                            <div class="row justify-content-center align-self-center">
                                245
                            </div>
                        </div>
                    </div>
                    <span class="ttl2">Total Checklist Items</span>
                </li>
                <li>
                    <div class="leg">
                        <div class="container d-flex h-100">
                            <div class="row justify-content-center align-self-center">
                                245
                            </div>
                        </div>
                    </div>
                    <span class="ttl2">Monthly Order Items(Avg.)</span>
                </li>
                <li>
                    <div class="leg">
                        <div class="container d-flex h-100">
                            <div class="row justify-content-center align-self-center">
                                245
                            </div>
                        </div>
                    </div>
                    <span class="ttl2">Total Monthly Expense(Avg.)</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="custom-card">
        <span class="ttl">Configured Checklist <a href="javascript:void(0)">See all</a></span>
        <div class="pro-list">
            <ul>
                <li>
                    <div class="pro-base">
                        <span class="badge badge-success"> 20% off</span>
                        <div class="pro-img">
                            <img src="../../../assets/Broccoli.jpg" />
                        </div>
                        <div class="pro-content">
                            <span class="title mt-2 mb-2">This is a product title</span>
                            <div class="option">
                                <span class="unit pull-left">16 units</span>
                                <span class="pull-right price">
                                    <i class="fas fa-rupee-sign"></i>625
                                    <span class="old"><i class="fas fa-rupee-sign"></i>1000</span>
                                </span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary">
                                Select
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pro-base">
                        <span class="badge badge-success"> 50% off</span>
                        <div class="pro-img">
                            <img src="../../../assets/Broccoli.jpg" />
                        </div>
                        <div class="pro-content">
                            <span class="title mt-2 mb-2">This is a product title</span>
                            <div class="option">
                                <span class="unit pull-left">16 units</span>
                                <span class="pull-right price">
                                    <i class="fas fa-rupee-sign"></i>625
                                    <span class="old"><i class="fas fa-rupee-sign"></i>1000</span>
                                </span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary">
                                Select
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pro-base">
                        <span class="badge badge-success"> 50% off</span>
                        <div class="pro-img">
                            <img src="../../../assets/Broccoli.jpg" />
                        </div>
                        <div class="pro-content">
                            <span class="title mt-2 mb-2">This is a product title</span>
                            <div class="option">
                                <span class="unit pull-left">16 units</span>
                                <span class="pull-right price">
                                    <i class="fas fa-rupee-sign"></i>625
                                    <span class="old"><i class="fas fa-rupee-sign"></i>1000</span>
                                </span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary">
                                Select
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pro-base">
                        <span class="badge badge-success"> 50% off</span>
                        <div class="pro-img">
                            <img src="../../../assets/Broccoli.jpg" />
                        </div>
                        <div class="pro-content">
                            <span class="title mt-2 mb-2">This is a product title</span>
                            <div class="option">
                                <span class="unit pull-left">16 units</span>
                                <span class="pull-right price">
                                    <i class="fas fa-rupee-sign"></i>625
                                    <span class="old"><i class="fas fa-rupee-sign"></i>1000</span>
                                </span>
                            </div>
                            <a href="javascript:void(0)" mdbBtn class="btn btn-primary w-100 waves-effect z-depth-0" mdbWavesEffect>
                                Select
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pro-base">
                        <span class="badge badge-success"> 50% off</span>
                        <div class="pro-img">
                            <img src="../../../assets/Broccoli.jpg" />
                        </div>
                        <div class="pro-content">
                            <span class="title mt-2 mb-2">This is a product title</span>
                            <div class="option">
                                <span class="unit pull-left">16 units</span>
                                <span class="pull-right price">
                                    <i class="fas fa-rupee-sign"></i>625
                                    <span class="old"><i class="fas fa-rupee-sign"></i>1000</span>
                                </span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary">
                                Select
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-side-nav></app-side-nav>