.header > span > a > i {
  font-size: 18px;
}
.addtop {
  float: right;
  font-size: 12px;
  font-weight: 200;
  margin-top: -7px;
  line-height: 17px;
}
.addtop .add {
  display: block;
  font-weight: 500;
  font-size: 12px;
}
.pro-body {
  margin-top: 60px;
}
.dtl > ul > li {
  display: inline-block;
  // margin: 8px;
}
.dtl > ul > li > .leg {
  display: inline-block;
  margin-right: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid #ccc;
  vertical-align: middle;
  text-align: center;
  border-radius: 60px;
  border: 3px solid #808080;
  color: #808080;
  font-size: 18px;
}
.dtl > ul > li > .leg .justify-content-center {
  margin: 0 auto;
}

.custom-card {
  background: #fff;
  //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 11px;
  padding: 10px;
  text-align: center;
  border: 1px solid #dee2e6!important;
}
.custom-card .ttl {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: left;
  color: #666;
}
.custom-card .ttl a {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  color: #723f96;
}
.dtl > ul > li .ttl2 {
  display: block;
  width: 95px;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #808080;
}

.pro-img {
  height: 100px;
  width: 100px;
  padding: 15px;
  margin: 0 auto;
}
.pro-img img {
  width: 100%;
}
.pro-content {
  padding: 10px;
  width: 100%;
  text-align: left;
}
.pro-content .price {
  font-weight: 700;
  font-size: 13px;
}
.pro-content .price .old {
  color: #666;
  text-decoration: line-through;
  margin-left: 5px;
  font-weight: 600;
  font-size: 11px;
}
.pro-content .price > i {
  font-size: 14px;
  margin-right: 2px;
}
.title {
  display: block;
  font-size: 13px;
  height: 35px;
  overflow: hidden;
  font-weight: 600;
}
.unit {
  color: #808080;
  font-weight: 600;
  font-size: 12px;
  margin-top: 1px;
}
.option {
  display: inline-block;
  width: 100%;
}
.option > span:nth-child(2) a {
  display: block;
  background: #59727e;
  color: #fff;
  padding: 5px;
  min-width: 70px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
}
.pro-list {
  display: inline-block;
  overflow: auto;
  width: 100%;
  padding: 10px 0px;
}
.pro-list > ul {
  display: flex;
}
.pro-list > ul > li {
  display: block;
    width: 100%;
    background: #fff;
    float: left;
    border: 1px solid #dee2e6 !important;
    padding: 10px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.pro-base {
  width: 150px;
  overflow: hidden;
}
.pro-base .badge {
  float: left;
}
.pro-base .btn-primary {
  display: block;
  line-height: 10px;
  margin: 0px;
}
.viewall {
  background: #723f96;
}
.viewall a {
  color: #fff;
  display: inline-block;
  width: 100%;
}
.catexp {
  width: 320px !important;
}
.catexp .pro-img {
  float: left;
}
.catexp .pro-content {
  width: 67% !important;
  float: left;
}
.catexp .pro-content .text-success {
  font-size: 14px;
  font-weight: 700;
}
.catexp .pro-content .title
{
  font-weight: 700!important;
  height: auto!important;
}
.catexp .pro-content .unit
{
  width: 100%;
  word-break: break-all;
  font-weight: 500;
}