.header > span > a > i {
  font-size: 18px;
}
.addtop {
    float: right;
    font-size: 12px;
    font-weight: 200;
    margin-top: -7px;
    line-height: 17px;
}
.addtop .add {
  display: block;
  font-weight: 500;
  font-size: 12px;
}