.top-header {
  display: inline-block;
  width: 100%;
}
.top-menu > li {
  display: block;
  float: left;
}
.top-menu > li > a {
    padding: 5px 10px;
    display: block;
    color: #666;
}
.top-menu > li > a >i
{
  margin: 2px;
}
.top-menu > li > a:hover
{
    text-decoration: underline;
}


