<div class="content-ttl">
        <div class="panel-name">
            <span><i class="fas fa-clipboard-list"></i></span>
            <span>
                Sub-Category Master
                <p>Content section goes here</p>
            </span>
        </div>
        <div class="panel-filter">
            <div class="btn-group">
                <button mat-button class="btn btn-primary" (click)="addNewCategory();">Add Category</button>
                <button mat-button class="btn btn-danger">Remove Category</button>
                <button mat-button class="btn btn-info">Update Category</button>
            </div>
        </div>
    </div>
    <div class="checklistgrid">
        <ejs-grid [dataSource]='productData' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
            (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
        <e-columns>
                <e-column field='catName' headerText='Category Name' textAlign='Right' width='200'></e-column>
                <e-column field='subCatName' headerText='Sub Category' width='200'></e-column>
                <e-column field='product' headerText='Product' width='150'></e-column>
                <e-column field='productAlias' headerText='Alias' textAlign='Right' width='150'></e-column>
                <e-column field='price' headerText='Price' textAlign='Right' width='150'></e-column>
                <e-column field='discount' headerText='Discount' textAlign='Right' width='150'></e-column>
                <e-column field='actualPrice' headerText='Actual price' textAlign='Right' width='150'></e-column>     
                <e-column field='active' headerText='Status' width='150'></e-column>
                <e-column field='upload' headerText='Upload Image' textAlign='Right' width='350'></e-column>
        </e-columns>
    
        <ng-template #editSettingsTemplate let-data>
                <div [formGroup]="orderForm">
                    <table class="e-table e-inline-edit" cellspacing="0.25">
                        <colgroup>
                            <col style="width: 200px;">
                            <col style="width: 200px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 350px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class='e-rowcell' style="display:none">
                                            <div class="e-input-group">
                                                <input class="e-input e-field" name='_id' formControlName="_id" type="text" 
                                                />
                                            </div>
                                </td>  
                                <td style="text-align: right" class='e-rowcell'>
                                    <ejs-dropdownlist id="catName" name="catName" formControlName="catName" [dataSource]='categorydata' [fields]="{text: 'catName', value: 'catName' }"
                                        popupHeight='300px'  (change)='onChangeCategroy($event)' floatLabelType='Never'></ejs-dropdownlist>
                                </td>
    
                                <td style="text-align: right" class='e-rowcell'>
                                        <ejs-dropdownlist id="subCatName" name="subCatName" formControlName="subCatName" [dataSource]='subCategoryList' [fields]="{text: 'subCatName', value: 'subCatName' }"
                                            popupHeight='300px' floatLabelType='Never'></ejs-dropdownlist>
                                </td>
                                 <td class='e-rowcell'>
                                        <div class="e-input-group">
                                            <input class="e-input e-field" name='product' formControlName="product" type="text" 
                                            />
                                        </div>
                                    </td>
                                    <td class='e-rowcell'>
                                         <div class="e-input-group">
                                                <input class="e-input e-field" name='productAlias' formControlName="productAlias" type="text" 
                                                />
                                         </div>
                                    </td>
                                    <td class='e-rowcell'>
                                            <div class="e-input-group">
                                                   <input class="e-input e-field" name='price' formControlName="price" type="text" 
                                                   />
                                            </div>
                                       </td>
                                       <td class='e-rowcell'>
                                            <div class="e-input-group">
                                                   <input class="e-input e-field" name='discount' formControlName="discount" type="text"  (blur)="onChangeDiscount($event)" />
                                            </div>
                                       </td>
                                       <td class='e-rowcell'>
                                            <div class="e-input-group">
                                                   <input class="e-input e-field"  name='actualPrice' formControlName="actualPrice" type="text" 
                                                   />
                                            </div>
                                       </td>
                                       <td class='e-rowcell'>
                                            <div class="e-input-group">
                                                <input class="e-input e-field" name='active' formControlName="active" type="text" 
                                                />
                                            </div>
                                        </td>  

                                  <td class='e-rowcell'>                                   
                                    <form #form action="http://localhost:8084/api/admin/product/images" enctype="multipart/form-data"
                                        method="POST" >
                                        <input type="file" name="myFile" id="myFile" required multiple />
                                        <input type="submit" (click)="form.submit()"  class="btn btn-primary" value="Upload" />  
                                    </form>
                                </td>
    
                                                      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
       </ejs-grid>
    </div>